[Unit]
Description=Power off Adafruit PiTFT screen in sleep hours
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/drzemka.py

[Install]
WantedBy=multi-user.target
