/desktop/*
/surface/*
/pi/*
**/tmux/plugins/
**/syncthing
!README.md
!.gitignore
!.tmux.conf
!.gitconfig
!.bash_profile
!.bashrc
!.zshrc
!rc.local
!.xinitrc
!.xprofile
!.Xresources
!picom.conf
!drzemka.py
!**/aliasrc
!**/redshift
!**/tmux
!**/ranger
!**/rofi
!**/i3
!**/bspwm
!**/sxhkd
!**/polybar
!**/dunst
!**/zathura
!**/fontconfig
!**/etc
!**/.config

