/desktop/*
/surface-vm/*
!README.md
!.gitignore
!.gitconfig
!.bash_profile
!.bashrc
!.zshrc
!.xinitrc
!.xprofile
!.Xresources
!picom.conf
!**/redshift
!**/ranger
!**/rofi
!**/i3
!**/bspwm
!**/sxhkd
!**/polybar
!**/zathura
!**/fontconfig

