Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 95
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

XTerm.VT100.translations: #override \
Super <Key> minus: smaller-vt-font() \n\
Super <Key> plus: larger-vt-font() \n\
Super <Key> KP_Subtract: smaller-vt-font() \n\
Super <Key> KP_Add: larger-vt-font() \n

!URxvt.font:xft:JetBrains Mono:size=14
!URxvt.font:xft:Fira Code:style=Medium:size=13
!URxvt.font:xft:Fira Code:size=13
URxvt.font:xft:Ubuntu Mono:size=14
URxvt.internalBorder: 5
URxvt.fading: 0
URxvt.scrollBar: false
URxvt.letterSpace: -1
URxvt.lineSpace: 1
URxvt.iso14755: true
URxvt.iso14755_52: false

urxvt.perl-ext-common: default,tabbed,matcher,resize-font,-tabbed

URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

*.foreground:  #dedede
*.background:  #121212
*.cursorColor: #ffa560
!
! Black
*.color0:      #929292
*.color8:      #bdbdbd
!
! Red
*.color1:      #e27373
*.color9:      #ffa1a1
!
! Green
*.color2:      #94b979
*.color10:     #bddeab
!
! Yellow
*.color3:      #ffba7b
*.color11:     #ffdca0
!
! Blue
*.color4:      #97bedc
*.color12:     #b1d8f6
!
! Magenta
*.color5:      #e1c0fa
*.color13:     #fbdaff
!
! Cyan
*.color6:      #00988e
*.color14:     #1ab2a8
!
! White
*.color7:      #dedede
*.color15:     #ffffff
!
! Bold, Italic, Underline
*.colorBD:     #ffffff
!*.colorIT:
!*.colorUL:
