XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.saveLines: 4096
xterm*renderFont: true
!xterm*faceName: Ubuntu Mono:size=16
xterm*faceName: JetBrains Mono:size=12
!xterm*font: -Gohu-Gohufont-Medium-R-Normal--14-100-100-100-C-80-ISO10646-1
xterm*backarrowKey: false
xterm*BorderWidth: 5
xterm*cursorBlink: false
xterm.vt100.blink: false
xterm*vt100.scaleHeight: 0.7

XTerm.VT100.translations: #override \
Super <Key> minus: smaller-vt-font() \n\
Super <Key> plus: larger-vt-font() \n\
Super <Key> KP_Subtract: smaller-vt-font() \n\
Super <Key> KP_Add: larger-vt-font() \n
